.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 8px;
  background: #f3bc55;
  color: #fff;
  font-family: Roboto Condensed;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.24px;
  text-transform: uppercase;
  padding: 28px 72px;
  border: none;
  white-space: nowrap;
}
